.big-banner {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.big-banner a img {
    width: 100%;
    height: auto;
    position: relative;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}


#loading {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}


/*
PEN BY: @AliRanjbar
Site: www.aliranjbar.ir
pen lang: html, css, js(jquery)
*/
@import url('https://fonts.googleapis.com/css?family=Lobster');
.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(12, 134, 31);
  z-index: 99;
}
.loading:after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  top: -30px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border: 6px solid #f2f2f2;
  border-top: 6px dotted #f2f2f2;
  border-bottom: 6px dotted #f2f2f2;
  border-radius: 50%;
  animation: loading 2s infinite;
}
.loading:before {
  font-family: 'Lobster', cursive;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
  content: "Loading...";
  position: absolute;
  top: 57%;
  text-align: center;
  right: 0;
  left: 0;
  margin: auto;
}


.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}


.cartItemImg {
  width: 10vw;
}


#cartNum {
  color: red;
  border-radius: 40%;
  position: absolute;
  top: 6px;
  right: -237px;
  font-weight: 500;
}

.phone_items .card {
  max-width: 25%;
}


.fa-shopping-cart {
  margin-left: 1270px;
}

.phone_list{
  width: 100%;
  display: flex;
}

.shopping_cart{
  position: fixed;
  z-index: 10;
}



#phoneItems{
  position: relative;
  margin-top: -28px;
}

#phoneItems::before{
  content: "";
  position: absolute;
  top: 0;
  right: 35px;
  transition: 1.9%;
  background-image : linear-gradient(50deg , #00ff59, #02b3ff);
  transform: rotate(-45deg) translate(0 , -100px);
}
